aniso8601==7.0.0
backpack==0.1
blinker==1.4
cleo==0.6.8
click==7.1.2
Faker==0.8.18
fastapi==0.61.1
graphene==2.1.8
graphene-pydantic==0.1.0
graphql-core==2.3.2
graphql-relay==2.0.1
h11==0.13.0
inflection==0.3.1
lazy-object-proxy==1.7.1
orator==0.9.9
pastel==0.1.1
pendulum==1.5.1
promise==2.3
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyaml==16.12.2
pydantic==1.6
Pygments==2.11.2
pylev==1.4.0
PyMySQL==1.0.2
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
pytzdata==2020.1
PyYAML==5.4.1
Rx==1.6.1
simplejson==3.17.6
six==1.16.0
starlette==0.13.6
text-unidecode==1.2
typing_extensions==4.0.1
tzlocal==1.5.1
uvicorn==0.12.2
wrapt==1.13.3
